<ion-header>
	<ion-toolbar color='primary'>
    <ion-searchbar [(ngModel)]="searchWord" required #uname="ngModel"></ion-searchbar>
		<ion-buttons end>
			<button ion-button icon-only [disabled]="uname.invalid" (click)='search()'>
				<ion-icon name="add"></ion-icon>
			</button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content padding *ngIf="status">
  <ion-card *ngFor="let publication of publications">
    <img [src]="publication.user.profile_image_url"/>
    <ion-card-content>
      <ion-card-title>
        {{publication.user.name}}
      </ion-card-title>
      <p>
        {{publication.text}}
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
